@import '~assets/scss/variables.scss';

.categories {
  display: flex;
  justify-content: space-between;
  // margin: 148px 0 126px;
  margin: 0;
  padding: 15px 0;
  background: $light-brown;
  li {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 300;
    padding: 8px 16px;
    margin: 4px;
    &:first-child {
      padding-left: 0;
    }
    &:nth-last-child(2) {
      padding-right: 0;
    }
    &:last-child {
      display: none;
      @media (max-width: $break-medium) {
        display: block;
      }
    }
    &.selected {
      // background: #999;
      // color: #fff;
      font-weight: 500;
    }
    @media (max-width: $break-medium) {
      padding: 0;
      margin: 30px 0;
      letter-spacing: 0.158rem;
    }
  }
  @media (max-width: $break-medium) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 90px;
    background: none;
  }
}

a.linkedin {
  display: block;
  margin: 60px auto;
  width: 80px;
  img {
    width: 100%;
  }
}

::ng-deep {
  // :not(.home) .categories {
  //   margin: 0;
  //   padding: 15px 0;
  //   background: $light-brown;
  // }
  @media (max-width: $break-medium) {
    app-content .categories {
      display: none !important;
    }
    app-content a.li {
      display: none !important;
    }
  }
}
