@import '~assets/scss/variables.scss';

.categories {
  display: flex;
  justify-content: space-between;
  // margin: 148px 0 126px;
  margin: 0;
  padding: 15px 0;
  background: $light-brown;
  li {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 300;
    padding: 8px 16px;
    margin: 4px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &.selected {
      // background: #999;
      // color: #fff;
      font-weight: 500;
    }
  }
  @media (max-width: $break-medium) {
    display: block;
  }
}

::ng-deep {
  // :not(.home) .categories {
  //   margin: 0;
  //   padding: 15px 0;
  //   background: $light-brown;
  // }
  @media (max-width: $break-medium) {
    app-content .categories {
      display: none !important;
    }
  }
}
