<section class="about">
  <div class="avatar">
    <span class="me"><img src="assets/img/profilepic.jpg" /></span>
    <h1>Asami Tsuchiya Maiorov</h1>
    <p>Art Director and Industrial/Graphic Designer</p>
  </div>

  <p>
    I'm an art director and an industrial/graphic designer with over 15 years of experience, currently based in New York City. 
  </p>
  <p>
    I worked at the furniture manufacturing company as an in-house designer for five years in Shizuoka, Japan. After I moved to Tokyo I expanded my focus from furniture design to interior design, graphic design and branding.
  </p>
  <p>
    Good at not only in communication with clients but also in designing and branding own products. My strength is that I create everything from concept planning to industrial design and product advertising at once.
  </p>

  <p>
    After I moved to New York City in late 2015, I design catalogs and interior design of a new apartment for a Japanese company, and creating an E-commerce website for a company in NYC.
  </p>
  <p>
      In the future, I would like to increase opportunities for UI / UX design and digital design direction.
  </p>
  <p>
    I love Japanese history, reading books, cats. Russian beginner.
  </p>
</section>

<section class="skills">
  <h3>Skills</h3>
  <ul class="skills">
    <li>Art Direction</li>
    <li>Brand Identity</li>
    <li>Industrial Design</li>
    <li>Graphic Design</li>
    <li>Printing Design</li>
    <li>Photography</li>
    <li></li>
  </ul>
</section>

<section class="skills">
  <h3>Software</h3>
  <ul class="skills">
    <li>Adobe Creative Suite</li>
    <li>Microsoft Office Suite</li>
    <li>Sketch</li>
    <li>Invision</li>
    <li>Sublime Text</li>
    <li></li>
  </ul>
</section>

<section class="history">
  <h3>Brief History in Time</h3>
  <ul>
    <li>
      <h4>Freelance Art Director</h4>
      <span class="description">Various Clients <span>&mdash;</span> Japan/US</span>
      <span class="time">2015 &mdash; present</span>
    </li>
    <li>
      <h4>Senior Designer/Art Director</h4>
      <span class="description">Infist Design Co, Ltd. <span>&mdash;</span> Tokyo, Japan</span>
      <span class="time">2007 &mdash; 2015</span>
    </li>
    <li>
      <h4>Furniture and Graphic Designer</h4>
      <span class="description">MK Maeda Furniture Co., Ltd. <span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">2002 &mdash; 2007</span>
    </li>
    <li>
      <h4>Shizuoka Professional Design School</h4>
      <span class="description">Diploma in Product Design <span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">1999 &mdash; 2002</span>
    </li>
  </ul>
</section>

<section class="download">
  <a href="assets/Asami_Tsuchiya_resume.pdf" class="button black">View Resume</a>
</section>

<section class="contact">
  <h3>Contact</h3>
  <p>
    Please feel free to drop me a line at <a [href]="'mailto:' + email">{{ email }}</a> or connect with me on <a href="https://www.linkedin.com/in/asami-tsuchiya-maiorov-2534aa11a/" target="_blank">LinkedIn</a>.
  </p>
</section>

<section class="about">
  <h3>About This Website</h3>
  <p>
    This portfolio website is built by Alexey Maiorov, my husband, and designed by me. Thanks!
  </p>
</section>
