<section class="about">
  <div class="avatar">
    <span class="me"><img src="assets/img/profilepic.jpg" /></span>
    <h1>Asami Tsuchiya Maiorov</h1>
    <p>Art Director and Product Designer</p>
  </div>

  <p>
    IT’S A DAMMY 1- - A Product designer from Japan, carrently based in New York. In my over 15 years of experiences, I’ve been forcusing on creating the best idea and meaningfull creation for clients.
  </p>

  <p>
    IT’S A DAMMY 1- - A Product designer from Japan, carrently based in New York. In my over 15 years of experiences, I’ve been forcusing on creating the best idea and meaningfull creation for clients.
  </p>
</section>

<section class="skills">
  <h3>Skills</h3>
  <ul class="skills">
    <li>
      IT’S A DAMMY 3- - A Product designer from Japan
    </li>
    <li>
      IT’S A DAMMY 3- - A Product designer from Japan
    </li>
    <li>
      IT’S A DAMMY 3- - A Product designer from Japan
    </li>
    <li>
      IT’S A DAMMY 3- - A Product designer from Japan
    </li>
    <li>
      IT’S A DAMMY 3- - A Product designer from Japan
    </li>
  </ul>
</section>

<section class="history">
  <h3>Brief History in Time</h3>
  <ul>
    <li>
      <span class="time">2015 &mdash; present</span>
      <h4>Freelance Art Director</h4>
      <span class="description">Various Clients &mdash; Japan/US</span>
    </li>
    <li>
      <span class="time">2007 &mdash; 2015</span>
      <h4>Senior Designer/Art Director</h4>
      <span class="description">Infist Design Co, Ltd. &mdash; Tokyo, Japan</span>
    </li>
    <li>
      <span class="time">2002 &mdash; 2007</span>
      <h4>  Furniture and Graphic Designer</h4>
      <span class="description">MK Maeda Furniture Co., Ltd. &mdash; Shizuoka, Japan</span>
    </li>
    <li>
      <span class="time">1999 &mdash; 2002</span>
      <h4>Shizuoka Professional Design School</h4>
      <span class="description">Diploma in Product Design &mdash; Shizuoka, Japan</span>
    </li>
  </ul>
</section>
