<section class="about">
  <div class="avatar">
    <span class="me"><img src="assets/img/profilepic.jpg" /></span>
    <h1>Asami Tsuchiya Maiorov</h1>
    <p>Art Director and Product Designer</p>
  </div>

  <p>
    IT’S A DAMMY 1- - A Product designer from Japan, carrently based in New York. In my over 15 years of experiences, I’ve been forcusing on creating the best idea and meaningfull creation for clients.
  </p>

  <p>
    IT’S A DAMMY 1- - A Product designer from Japan, carrently based in New York. In my over 15 years of experiences, I’ve been forcusing on creating the best idea and meaningfull creation for clients.
  </p>
</section>

<section class="skills">
  <h3>Skills</h3>
  <ul class="skills">
    <li>Art Direction</li>
    <li>Brand Identity</li>
    <li>Photography</li>
    <li>Graphic Design</li>
    <li></li>
  </ul>
</section>

<section class="skills">
  <h3>Software</h3>
  <ul class="skills">
    <li>Adobe Creative Suite</li>
    <li>Microsoft Office Suite</li>
    <li>Sketch</li>
    <li>Invision</li>
    <li>Sublime Text</li>
    <li></li>
  </ul>
</section>

<section class="history">
  <h3>Brief History in Time</h3>
  <ul>
    <li>
      <h4>Freelance Art Director</h4>
      <span class="description">Various Clients <span>&mdash;</span> Japan/US</span>
      <span class="time">2015 &mdash; present</span>
    </li>
    <li>
      <h4>Senior Designer/Art Director</h4>
      <span class="description">Infist Design Co, Ltd. <span>&mdash;</span> Tokyo, Japan</span>
      <span class="time">2007 &mdash; 2015</span>
    </li>
    <li>
      <h4>Furniture and Graphic Designer</h4>
      <span class="description">MK Maeda Furniture Co., Ltd. <span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">2002 &mdash; 2007</span>
    </li>
    <li>
      <h4>Shizuoka Professional Design School</h4>
      <span class="description">Diploma in Product Design <span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">1999 &mdash; 2002</span>
    </li>
  </ul>
</section>

<section class="download">
  <a href="#" class="button black">View Resume</a>
</section>

<section class="about">
  <h3>About This Website</h3>
  <p>
    This portfolio website is built by Alexey Maiorov, my husband, and designed by me. Thanks!
  </p>
</section>
