@import '~assets/scss/variables.scss';

:host {
  display: block;
  margin: 40px 0 40px;
}
.avatar {
  text-align: center;
  .me {
    display: inline-block;
    width: 290px;
    height: 290px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 46px;
    img {
      filter: brightness(0.5);
      height: 100%;
      width: auto;
    }
  }
  h1 {
    font-size: 3.4rem;
    @media (max-width: $break-medium) {
      font-size: 2.6rem;
    }
  }
  p {
    font-size: 2.7rem;
    font-weight: 300;
    margin: 8px 0 60px;
    @media (max-width: $break-medium) {
      width: 80%;
      margin: 10px auto;
      line-height: 2.7rem;
    }
  }
}

section {
  margin-bottom: 116px;
  h3 {
    font-size: 3.3rem;
    margin-bottom: 64px;
  }
  ul {
    font-size: 2.7rem;
    font-weight: 300;
    @media (max-width: $break-medium) {
      font-size: 2.2rem;
    }
  }
  &.skills {

  }
  &.history {
    ul {
      font-size: 2.4rem;
      li {
        margin-bottom: 60px;
        position: relative;
        h4 {
          font-weight: 600;
          font-size: 2.7rem;
          margin-bottom: 10px;
          position: relative;
          @media (max-width: $break-medium) {
            font-size: 2.4rem;
          }
          &:after {
            background: $gray-97;
            content: '';
            width: 150px;
            height: 1px;
            position: absolute;
            left: calc(100% - 350px);
            top: 50%;
            @media (max-width: $break-medium) {
              content: none;
            }
          }
        }
        .description {
          font-weight: 300;
          @media (max-width: $break-medium) {
            span {
              display: block;
              height: 0;
              overflow: hidden;
            }
          }
        }
        .time {
          position: absolute;
          top: 0;
          right: 0;
          font-weight: 300;
          @media (max-width: $break-medium) {
            position: static;
            display: block;
          }
        }
      }
    }
  }
}
