@import '~assets/scss/variables.scss';

:host {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  // height: 180px;
  background: $dark-brown;
  @include mq-all;
}
footer {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  height: 100%;
  padding: 50px 0;
  font-size: 2.3rem;
  font-weight: 300;
  > * {
      // border: 1px solid red;
      margin: 0 40px;
      align-self: flex-end;
      &:first-child {
        margin-left: 0;
        white-space: nowrap;
      }
      &:last-child {
        margin-right: 0;
        white-space: nowrap;
      }
  }
  h5 {
    font-size: 4.5rem;
    letter-spacing: -0.133rem;
    font-weight: 800;
    line-height: 3.9rem;
  }
  h6 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 3.2rem;
  }
}
