@import '~assets/scss/variables.scss';

:host {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  height: 90px;
  background: $dark-brown;
  @include mq-all;
  &.home {
    display: none;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  ::ng-deep {
    .categories {
      font-size: 0.5rem;
      margin: 0;
      // display: none;
      @media (max-width: $break-medium) {
        display: block;
        li {
          width: 100%;
          padding: 0 !important;
        }
      }
    }
  }
  h5 {
    font-size: 3.6rem;
    letter-spacing: -0.16rem;
    font-weight: 800;
  }
}

app-nav {
  display: none;
  @media (max-width: $break-medium) {
    display: block;
  }
}
