@import '~assets/scss/variables.scss';

.hero {
  img {
    // display: none;
    width: 100%;
    left: 0;
  }
  .wrapper {
    overflow: hidden;
    width: 100vw;
    height: 0;
    // padding-bottom: 56.25%;
    // for some reason have to add 78px
    // 60px makes sense because of offset...
    // actually, just use vw since it's full bleed
    // padding-bottom: calc(64.81% + 78px);
    padding-bottom: 64.81vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $dark-brown;
    margin-bottom: 57px;
    position: relative;
    left: -25%;
    @media (max-width: $break-small) {
      left: -10vw;
      // padding-bottom: calc(64.81% + 47px);
      padding-bottom: 64.81vw;
    }
    @include no-image;
  }
}

img {
  // height: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 57px;
  // border: 1px solid red;
  width: 100vw;
  position: relative;
  left: -25%;
  @media (max-width: $break-small) {
    left: -10vw;
  }
  @include no-image;
}
video {
  width: 100%;
  height: auto;
  @include no-image;
}


h1 {
  font-size: 4.0rem;
  @media (max-width: $break-medium) {
    font-size: 3.2rem;
  }
}

h3 {
  margin-bottom: 10px;
  @media (max-width: $break-medium) {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 3rem;
  margin-bottom: 37px;
  @media (max-width: $break-medium) {
    font-size: 2.7rem;
  }
}

section {
  margin-bottom: 57px;
  > div {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3rem;
  }
}

.tags {
  font-weight: 300;
  line-height: 3.4rem;
  @media (max-width: $break-medium) {
    line-height: 1.8rem;
  }
  span {
    &:after {
      content: ", "
    }
    &:last-child:after {
      content: none;
    }
  }
}


.duration {
  font-size: 2.7rem;
  @media (max-width: $break-medium) {
    font-size: 2.3rem;
  }
}

.description {
}

.client {
  margin-bottom: 32px;
}

.role {
  margin-bottom: 106px;
}

.blocks {
  > div {
    position: relative;
    margin-bottom: 106px;
    .images {
      img {
        margin-bottom: 24px;
      }
      &.inline-img {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $break-medium) {
          display: block !important;
          > div {
            margin: 0 0 12px !important;
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
        > div {
          flex: 1;
          margin: 0 6px;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          img {
            position: static;
            width: 100%;
            margin-bottom: 0;
          }
        }
        span {
          // position: absolute;
          width: 100%;
          display: block;
          padding: 8px 0 16px;
          text-align: center;
          font-size: 1.6rem;
          line-height: 2rem;
          &.group-caption {
            flex-basis: 100%;
          }
        }
      }
      &.h {
      }
      &.v {
        display: block;
        > div {
          margin: 0 0 12px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.sq {
        > div {
          flex: 1;
          margin: 0 6px;
          flex-basis: calc(50% - 12px);
          margin: 0 12px 12px 0;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
    &:after {
    }
    &.small-margin {
      margin-bottom: 40px;
    }
    .caption {
      display: block;
      text-align: center;
      // padding: 8px 0 16px;
      font-size: 1.6rem;
      line-height: 2rem;
    }
    .description {
      /deep/ h5 {
        font-family: 'ff-dagny-web-pro', sans-serif;
        font-size: 2.7rem;
        font-weight: 400;
        @media (max-width: $break-medium) {
          font-size: 2.1rem;
        }
      }
      /deep/ ul {
        li {
          margin-left: 64px;
          list-style-type: disc;
          @media (max-width: $break-medium) {
            margin-left: 32px;
            font-size: 2.1rem;
            line-height: 3rem;
          }
        }
      }
      /deep/ q {
        // width: 100vw;
        display: block;
        // margin: 0 auto;
        font-size: 10rem;
        line-height: 10rem;
        font-weight: 400;
        color: $gray-quote;
        // position: relative;
        // left: -25%;
        padding: 40px 30px;
        @media (max-width: $break-medium) {
          font-size: 5.4rem;
          line-height: 6rem;
        }
        &:before,
        &:after {
          position: absolute;
          font-size: 12rem;
          @media (max-width: $break-medium) {
            font-size: 8rem;
            line-height: 6rem;
          }
        }
        &:before {
          left: 0;
        }
        &:after {
          transform: translateY(75%);
          right: 0;
        }
      }
    }
  }
}

.related {
  h3 {
    font-size: 4rem;
    margin-bottom: 37px;
    @media (max-width: $break-medium) {
      font-size: 2.9rem;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    li {
      flex-grow: 0;
      flex-shrink: 0;
      // height: 100px;
      margin: 15px 0;
      width: calc(33.333% - 20px);
      box-sizing: border-box;
      position: relative;
      background-size: auto 100%;
      background-position: 50% 50%;
      cursor: pointer;
      @media (max-width: $break-medium) {
        width: 100%;
        margin: 0 0 60px 0;
        font-size: 1.5rem;
      }
      &:nth-child(3n + 2) {
        margin: 15px 30px;
        @media (max-width: $break-medium) {
          margin: 0 0 60px 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:focus, &:active {
        outline: none;
      }
      .thumb {
        overflow: hidden;
        width: 100%;
        height: 0;
        // padding-bottom: 56.25%;
        padding-bottom: 64.81%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        @include no-image;
        picture {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            left: 0;
            object-fit: cover;
          }
        }
      }
      h4 {
        font-size: 2.3rem;
        margin: 10px 0;
        @media (max-width: $break-medium) {
          line-height: 3.6rem;
          font-size: 1.9rem;
          margin: 10px 0 0;
        }
      }
      .tags {
        line-height: 2.4rem;
        font-size: 1.9rem;
        @media (max-width: $break-medium) {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }
}
