<app-filter></app-filter>

<!-- project image -->
<img src="{{ currentProject.heroUrl }}" />

<!-- project title -->
<h1>{{ currentProject?.longTitle }}</h1>

<!-- project duration -->
<section class="duration">
  {{ currentProject.startDate }} &mdash; {{ currentProject.endDate || 'current' }}
</section>

<!-- project description -->
<section class="description">
  <div [innerHTML]="currentProject?.description"></div>
</section>

<!-- project client -->
<section class="client">
  <h3>Client</h3>
  <div>{{ currentProject?.client }}</div>
</section>

<!-- project role -->
<section class="role">
  <h3>Role</h3>
  <div class="tags">
    <span *ngFor="let tag of currentProject.tags">{{ tag }}</span>
  </div>
</section>

<!-- blocks -->
<section class="blocks" *ngIf="currentProject.blocks">
  <div *ngFor="let block of currentProject.blocks">
    <h4 *ngIf="block.headline" class="headline">{{ block.headline }}</h4>
    <div *ngIf="block.image" class="images">
      <div *ngFor="let image of block.image">
        <img src="{{ image }}" />
      </div>
    </div>
    <div *ngIf="block.description" class="description" [innerHTML]="block.description"></div>
  </div>
</section>

<!-- <ul class="gallery">
  <li *ngFor="let slide of currentProject.gallery">
    <img src="{{ slide.imageUrl }}" />
    <span>{{ slide.title }}</span>
  </li>
</ul> -->

<ul class="related">
  <li *ngFor="let project of relatedProjects" [ngStyle]="{'background-image':'url(' + project.thumbnailUrl + ')'}" routerLink="{{ '/project/' + project.id }}">
    <span>{{ project.shortTitle }}</span>
  </li>
</ul>
