@import '~assets/scss/variables.scss';

.hero {
  img {
    display: none;
  }
  .wrapper {
    width: 100vw;
    height: 0;
    padding-bottom: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $dark-brown;
    margin-bottom: 57px;
    position: relative;
    left: -60px;
    @media (max-width: $break-medium) {
      left: -36px;
    }
    @include no-image;
  }
}

img {
  // height: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 57px;
  // border: 1px solid red;
  width: 100vw;
  position: relative;
  left: -60px;
  @media (max-width: $break-medium) {
    left: -36px;
  }
  @include no-image;
}


h1 {
  font-size: 4.5rem;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  font-size: 3.3rem;
  margin-bottom: 37px;
}

section {
  margin-bottom: 57px;
  > div {
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 3rem;
  }
}

.tags {
  font-weight: 300;
  line-height: 3.4rem;
  @media (max-width: $break-medium) {
    line-height: 1.8rem;
  }
  span {
    &:after {
      content: ", "
    }
    &:last-child:after {
      content: none;
    }
  }
}


.duration {
  font-size: 2.9rem;
}

.description {
}

.client {
  margin-bottom: 32px;
}

.role {
}

.blocks {
  > div {
    position: relative;
    margin-bottom: 106px;
    .images {
      img {
        margin-bottom: 24px;
      }
    }
    &:after {
    }
    /deep/ ul {
      li {
        margin-left: 64px;
        list-style-type: disc;
      }
    }
  }
}

.related {
  h3 {
    font-size: 4.5rem;
    margin-bottom: 37px;
    @media (max-width: $break-medium) {
      font-size: 2.9rem;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    li {
      flex-grow: 0;
      flex-shrink: 0;
      // height: 100px;
      margin: 15px 0;
      width: calc(33.333% - 20px);
      box-sizing: border-box;
      position: relative;
      background-size: auto 100%;
      background-position: 50% 50%;
      cursor: pointer;
      @media (max-width: $break-medium) {
        width: 100%;
        margin: 0 0 60px 0;
        font-size: 1.5rem;
      }
      &:nth-child(2n) {
        margin: 15px 30px;
        @media (max-width: $break-medium) {
          margin: 0 0 60px 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:focus, &:active {
        outline: none;
      }
      img {
        display: none;
      }
      .thumb {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include no-image;
      }
      h4 {
        font-size: 2.7rem;
        margin: 20px 0 0;
        @media (max-width: $break-medium) {
          line-height: 3.6rem;
          font-size: 1.9rem;
        }
      }
      .tags {
        line-height: 2.7rem;
        font-size: 2.2rem;
        @media (max-width: $break-medium) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
