<h1>{{ currentProject?.longTitle }}</h1>

<!-- project image -->
<img src="{{ currentProject.heroUrl }}" />

<!-- project client -->
<section>
  <strong>Client:</strong> {{ currentProject?.client }}
</section>

<!-- project duration -->
<section>
  <strong>Duration:</strong> {{ currentProject.startDate }} &mdash; {{ currentProject.endDate || 'current' }}
</section>

<!-- project description -->
<strong>Description</strong>
<div [innerHTML]="currentProject?.description"></div>

<section class="blocks">
  <div *ngFor="let block of currentProject.blocks">
    <h2 *ngIf="block.headline" class="headline">{{ block.headline }}</h2>
    <div *ngIf="block.image" class="images">
      <div *ngFor="let image of block.image">
        <img src="{{ image }}" />
      </div>
    </div>
    <div *ngIf="block.description" class="description">{{ block.description }}</div>
  </div>
</section>

<!-- <ul class="gallery">
  <li *ngFor="let slide of currentProject.gallery">
    <img src="{{ slide.imageUrl }}" />
    <span>{{ slide.title }}</span>
  </li>
</ul> -->

<ul class="related">
  <li *ngFor="let project of relatedProjects" [ngStyle]="{'background-image':'url(' + project.thumbnailUrl + ')'}" routerLink="{{ '/project/' + project.id }}">
    <span>{{ project.shortTitle }}</span>
  </li>
</ul>
