<ul class="gallery" #gallery (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" [style.left]="'-' + (100 * activeSlide) + '%'">
  <li *ngFor="let slide of slides; let i = index" [ngClass]="{active: i === activeSlide}">
    <!-- <img src="{{ slide.imageUrl }}" /> -->
    <img [src]="slide.imageUrl" onError="this.nextSibling.classList.add('no-image')" />
    <div class="image" [ngStyle]="{'background-image': 'url(' + slide.imageUrl + ')'}" [ngClass]="{'no-image': !slide.imageUrl}"></div>
    <span>{{ slide.title }}</span>
  </li>
</ul>

<ul class="pagination" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">
  <!-- <li class="prev" (click)="goto(activeSlide - 1)" [ngClass]="{disabled: activeSlide <= 0}">prev</li> -->
  <li *ngFor="let slide of slides; let i = index" (click)="goto(i)" [ngClass]="{active: i === activeSlide}">Slide {{ i }}</li>
  <!-- <li class="next" (click)="goto(activeSlide + 1)" [ngClass]="{disabled: activeSlide + 1 >= totalSlides}">next</li> -->
</ul>
<!-- <h3>{{isAnimating}}</h3> -->
