<h1>Hello, I'm Asami</h1>
<p>Art Director and Product Designer from Japan, currently based in New York. With over 15 years of experience, I create the best ideas and meaningfull solutions for my clients.</p>
<a href="/about" class="button black">See more about me</a>
<app-filter></app-filter>
<ul class="projects">
  <li *ngFor="let project of projects" routerLink="{{ '/project/' + project.id }}">
    <!-- <img [src]="project.heroUrl" [ngClass]="{ 'no-image': !project.heroUrl }" /> -->
    <div class="hero" [ngStyle]="{ 'background-image': 'url(' + project.heroUrl + ')' }" [ngClass]="{ 'no-image': !project.heroUrl }">

    </div>
    <h4>{{ project.shortTitle }}</h4>
    <div class="tags">
      <span *ngFor="let tag of project.tags">{{ tag }}</span>
    </div>
    <!-- <span class="category">{{ project.category | titlecase }}</span> -->
  </li>
</ul>
