@import '~assets/scss/variables.scss';

:host {
  display: block;
  padding-top: 144px;
}

h1 {
  padding-bottom: 34px;
  @media (max-width: $break-medium) {
    padding-bottom: 25px;
  }
}

p {
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 6.4rem;
  @media (max-width: $break-medium) {
    font-size: 2.7rem;
    line-height: 3.4rem;
    margin-bottom: 25px;
  }
}

.filter-wrapper {
  margin: 133px 0 111px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  @media (max-width: $break-medium) {
    margin-top: 60px;
  }
  // border: 1px solid red;
  li {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin: 0 15px 145px 0;
    font-size: 2.7rem;
    cursor: pointer;
    @media (max-width: $break-medium) {
      width: 100%;
      margin: 0 0 60px 0;
      font-size: 1.5rem;
    }
    &:nth-child(2n) {
      margin: 0 0 15px 15px;
      @media (max-width: $break-medium) {
        margin: 0 0 60px 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:focus, &:active {
      outline: none;
    }
    // .image {
    //   height: 250px;
    //   background-size: auto 100%;
    //   background-position: 50% 0;
    //   background-repeat: no-repeat;
    // }
    // img {
    //   object-fit: cover;
    //   width: 100%;
    //   height: 250px;
    //   background-color: $dark-brown;
    //   margin-bottom: 20px;
    //   &.no-image {
    //     position: relative;
    //     &:before {
    //       content: 'Image stolen by cats';
    //       background: $dark-brown;
    //       position: absolute;
    //       width: 100%;
    //       height: 100%;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       font-size: 1.8rem;
    //       font-style: italic;
    //     }
    //     &:after {
    //       content: '';
    //       background: no-repeat center/auto 100% url('~assets/img/cat.svg');
    //       position: absolute;
    //       bottom: -4px;
    //       right: -17px;
    //       width: 50px;
    //       height: 60px;
    //     }
    //   }
    // }
    .hero {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $dark-brown;
      margin-bottom: 19px;
      &.no-image {
        position: relative;
        &:before {
          content: 'Image stolen by cats';
          background: $dark-brown;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-style: italic;
        }
        &:after {
          content: '';
          background: no-repeat center/auto 100% url('~assets/img/cat.svg');
          position: absolute;
          bottom: -4px;
          right: -17px;
          width: 50px;
          height: 60px;
        }
      }
    }
    h4 {
      line-height: 3.6rem;
    }
    .tags {
      font-weight: 300;
      line-height: 3.4rem;
      @media (max-width: $break-medium) {
        line-height: 1.8rem;
      }
      span {
        &:after {
          content: ", "
        }
        &:last-child:after {
          content: none;
        }
      }
    }
    // span {
    //   position: absolute;
    //   width: 100%;
    //   bottom: -24px;
    //   text-align: center;
    //   &.category {
    //     bottom: auto;
    //     top: -4px;
    //     right: -4px;
    //     padding: 2px 4px;
    //     background: #000;
    //     color: #fff;
    //     width: auto;
    //   }
    // }
  }
}
