@import '~assets/scss/variables.scss';

:host {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  &:not(.home) {
    padding-top: 245px !important;
    @media (max-width: $break-medium) {
      padding-top: 120px !important;
    }
  }
  @include mq-all;
}
