@import '~assets/scss/variables.scss';

:host {
  display: block;
  margin: 0 auto;
  width: 1440px;
  padding: 0 150px;
  box-sizing: border-box;
  &::after {
    content: 'desktop x-large';
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 14px;
    font-style: italic;
    background: rgba(255,0,0,0.7);
    color: #fff;
    display: inline-block;
    padding: 8px;
    font-weight: 400;
  }
  @media (max-width: $break-xlarge) {
    border: 1px solid red;
    width: 1200px;
    padding: 0 100px;
    &::after {
      content: 'desktop large';
    }
  }
  @media (max-width: $break-large) {
    border: 1px solid blue;
    width: 960px;
    padding: 0 50px;
    &::after {
      content: 'desktop small';
    }
  }
  @media (max-width: $break-medium) {
    border: 1px solid yellow;
    width: 100vw;
    // padding: 0 50px;
    &::after {
      content: 'tablet';
    }
  }
  @media (max-width: $break-small) {
    border: 1px solid green;
    width: 100vw;
    padding: 0 36px;
    &::after {
      content: 'mobile';
    }
  }
}
