@import '~assets/scss/variables.scss';
:host {
  @media (max-width: $break-medium) {
    // display: block;
    position: static !important;
    width: auto !important;
  }
}
nav {
  display: flex;
  flex-direction: column;
  .menu {
    display: none;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background: url('~assets/img/menu.svg') center/100% no-repeat;
    @media (max-width: $break-medium) {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
    }
  }
  @media (max-width: $break-medium) {
    app-filter {
      display: none;
    }
  }
  &.open {
    position: fixed;
    background: $light-brown;
    width: calc(100vw - 72px);
    height: 100vh;
    left: 0;
    top: 0;
    padding: 0 36px 0;
    .menu {
      position: static;
      background-image: url('~assets/img/close.svg');
      margin-top: 20px;
    }
    app-filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }
}
