@import '~assets/scss/variables.scss';
:host {
  @media (max-width: $break-medium) {
    // display: block;
    position: static !important;
    width: auto !important;
  }
}
nav {
  .menu {
    display: none;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    background: url('~assets/img/menu.svg') center/100% no-repeat;
    @media (max-width: $break-medium) {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
    }
  }
  @media (max-width: $break-medium) {
    app-filter {
      display: none;
    }
  }
  &.open {
    position: fixed;
    background: $light-brown;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    .menu {
      background-image: url('~assets/img/close.svg');
    }
    app-filter {
      display: block;
      border: 1px solid yellow;
    }
  }
}
