img {
  height: 200px;
}

.gallery {
  display: flex;
  margin-bottom: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  li {
    position: relative;
    span {
      // position: absolute;
      width: 100%;
      display: block;
      padding: 8px 0 16px;
      text-align: center;
    }
  }
}

.related {
  display: flex;
  margin-bottom: 24px;
  li {
    margin: 8px;
    height: 100px;
    width: 100px;
    position: relative;
    background-size: auto 100%;
    background-position: 50% 50%;
    &:focus, &:active {
      outline: none;
    }
    span {
      position: absolute;
      width: 100%;
      bottom: -24px;
      text-align: center;
    }
  }
}
