@import '~normalize.css';
@import '~assets/scss/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
@import url('https://use.typekit.net/ytz5cva.css');

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'ff-dagny-web-pro', sans-serif;
  color: $text;
  background: $light-brown;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5rem;
  @media (max-width: $break-medium) {
    font-size: 3rem;
  }
}

img {
  display: block;
}

p {
  margin: 32px 0;
}

a {
  &.button {
    padding: 12px 28px;
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    &.black {
      background: $off-black;
      color: $off-white;
    }
  }
}

.debug *[class] {
  position: relative;
  border: 2px dashed rgba(255,0,0,0.5);
  &:before {
    font-size: 14px;
    font-style: italic;
    background: rgba(255,0,0,0.7);
    color: #fff;
    display: inline-block;
    content: attr(class);
    padding: 8px;
    font-weight: 400;
  }
}
