<h1>Hello, I'm Asami</h1>
<p>Art Director and Product Designer from Japan, currently based in New York. With over 15 years of experience, I create the best ideas and meaningfull solutions for my clients.</p>
<a href="/about" class="button black">See more about me</a>
<div class="categories">
  <span (click)="setCategory()" [ngClass]="{selected: !currentCategory}">All</span>
  <span *ngFor="let category of categories" (click)="setCategory(category)" [ngClass]="{selected: currentCategory === category}">{{ category | titlecase }}</span>
</div>

<ul class="projects">
  <li *ngFor="let project of projects" [ngStyle]="{'background-image':'url(' + project.thumbnailUrl + ')'}" routerLink="{{ '/project/' + project.id }}">
    <span>{{ project.shortTitle }}</span>
    <span *ngFor="let tag of project.tags">{{ tag }}</span>
    <!-- <span class="category">{{ project.category | titlecase }}</span> -->
  </li>
</ul>
