@import '~assets/scss/variables.scss';

h1 {
  padding-bottom: 34px;
  @media (max-width: $break-medium) {
    padding-bottom: 25px;
  }
}

p {
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 6.4rem;
  @media (max-width: $break-medium) {
    font-size: 2.7rem;
    line-height: 3.4rem;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  li {
    // margin: 8px;
    // height: 100px;
    // width: 100px;
    // position: relative;
    // border: 1px solid #999;
    // background-size: auto 100%;
    // background-position: 50% 50%;
    border: 1px solid red;
    background: none !important;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100px;
    width: 50%;
    box-sizing: border-box;
    &:focus, &:active {
      outline: none;
    }
    // span {
    //   position: absolute;
    //   width: 100%;
    //   bottom: -24px;
    //   text-align: center;
    //   &.category {
    //     bottom: auto;
    //     top: -4px;
    //     right: -4px;
    //     padding: 2px 4px;
    //     background: #000;
    //     color: #fff;
    //     width: auto;
    //   }
    // }
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  > span {
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    padding: 8px 16px;
    margin: 4px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &.selected {
      // background: #999;
      // color: #fff;
      font-weight: 500;
    }
  }
}
